---
# ----------------------------------------------
# Orchestration Variables
CONFIGURATION_MANAGEMENT_TOOL: ansible
CONFIGURATION_MANAGEMENT_REPO: https://github.com/systeminit/si-device-compliance.git
CONFIGURATION_MANAGEMENT_BRANCH: main

# ----------------------------------------------
# Installation Variables
COMPLIANCE_DIR: /etc/si-device-compliance
RESULTS_DIR: /etc/si-device-compliance/results
LOGS_DIR: /etc/si-device-compliance/logs
SERVICE_SCRIPT_PATH: /etc/si-device-compliance/collect_compliance_data.sh

# If you are running a distribution without a solid means of imperative package installation,
# (e.g. NixOS), then you can opt-out of installing the AV. However, you are responsible for
# installing it correctly. To do so, set the value to "false".
INSTALL_ANTIVIRUS: true

# If you are running a distribution that disallows imperative systemd service installation, # (e.g.
# NixOS), then you can opt-out of installing service. However, you are responsible for installing
# it correctly, meaning that the compliance script runs on a monthly cadence. To do so, set the
# value to "false".
INSTALL_SYSTEMD_SERVICE: true

# -----------------------------------------
# Compliance Tracking Variables
EMAIL_ADDRESS: [email_id]

# This can either be the literal token or a path to a single-line file containing the token. This
# is particularly helpful if you are checking in configuration files or unit files into source
# control (e.g NixOS). Example location if using a file: "/etc/si-device-compliance/token.txt".
SUBMISSION_TOKEN: [submission_token]

# The root disk of your machine must be encrypted, enter the blk reference to
# the block of the disk which the OS sits on which is encrypted [string]. 
# e.g. from lsblk
# └─nvme0n1p3                 259:3    0   1.8T  0 part  
#   └─dm_crypt-0              252:0    0   1.8T  0 crypt <---- This is the blk id we want in this example
#     └─ubuntu--vg-ubuntu--lv 252:1    0   1.8T  0 lvm   / <---- This is where the OS is installed
# your root disk is not encrypted that's ok, it will just help us track our
# stature + we can resolve later on when it's convenient for you.
ROOT_DISK_ENCRYPTED_PARTITION_BLK: [disk-id]

# Confirmation that you are using a password manager, generic encryption method
# or are only using the corporate 1Password in all scenarios where a sensitive 
# value needs to be passed across the organisation. If this doesn't apply to this
# machine specifically, you can assume it's true [true/false].
USING_PASSWORD_MANAGER: [true/false]

# -----------------------------------------
